body {
  margin: 0; // 1
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $text-color;
  text-align: left; // 3
  background-color: $body-bg; // 2
}

.resizeable-both {
  @include resizable(both);
  border: 1px solid $gray-400;
  display: block;
}
