@import '../styles/partials/variables';

.button {
  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: none;
  text-transform: capitalize;

  color: $gray-100;
  background: $gray-900;
  border: 0 none;
  border-radius: 4px;

  font-size: $font-size-base;
  font-weight: $font-weight-strong;
  line-height: $line-height-base;

  appearance:         none;

  justify-content: center;
  align-items: center;

  box-shadow: 1px 3px 5px $gray-400;

  &:hover {
    transition: all 150ms linear;
    opacity: .85;
  }

  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
  }
}
